


<div  id="element" class="casino-container">
    <div  class="casino-table">
        <div  class="casino-video">
            <div  class="casino-video-title">
                <span  class="casino-name">Poker <small >
                    <a  href="javascript:void(0)">rules</a></small></span>
                    <span  class="casino-video-rid">Round ID: 21726049 <span  class="c-min-max-head"> | Min: 100 | Max: 50000</span><!----></span>
                </div>
               <app-video></app-video>
                <div  class="casino-video-cards hide-cards">
                    <div  class="casino-cards-shuffle"> || </div>
                    <div  class="casino-video-cards-container">
                        <div  class="player-cards">
                            <div  class="text-light"> Player A:
</div>
<span  class="img-casino">
    <img  class="img-fluid" src="assets/img/cards/D12.png"><!----><!----></span>
    <span  class="img-casino"><img  class="img-fluid" src="assets/img/cards/C12.png"><!----><!----></span>
    <!----></div>
    <div  class="player-cards">
        <div  class="text-light"> Player B:
</div>
<span  class="img-casino">
    <img  class="img-fluid" src="assets/img/cards/S7.png"><!----><!----></span>
    <span  class="img-casino"><img  class="img-fluid" src="assets/img/cards/D8.png"><!----><!----></span>
    <!----></div>
    <!----><div  class="board-cards">
        <div  class="text-light"> BOARD </div>
        <span  class="img-casino"><img  class="img-fluid" src="assets/img/cards/C5.png"><!----><!----></span>
        <span  class="img-casino"><img  class="img-fluid" src="assets/img/cards/S12.png"><!----><!----></span>
        <span  class="img-casino"><img  class="img-fluid" src="assets/img/cards/D13.png"><!----><!----></span>
        <span  class="img-casino"><img  class="img-fluid" src="assets/img/cards/H1.png"><!----><!----></span>
        <span  class="img-casino"><img  class="img-fluid" src="assets/img/cards/S11.png"><!----><!----></span>
        <!----></div></div></div><!----><div  class="casino-timer d-none-mobile"><div  class="base-timer">
            <svg  viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" class="base-timer__svg">
                <g  class="base-timer__circle"><circle  cx="50" cy="50" r="45" class="base-timer__path-elapsed"></circle>
                    <path  stroke-dasharray="225 283" d="M 50, 50 m -45, 0 a 45,45 0 1,0 90,0 a 45,45 0 1,0 -90,0" class="base-timer__path-remaining green"></path>
                </g>
            </svg>
            <span  class="base-timer__label red"><span >4</span></span>
        </div>
    </div>
</div>
<div  class="casino-detail">
    <div  class="casino-section">
        <div  class="casinobetplace row">
            <div  class="casino_odds col-md-6">
                <div  class="row">
                    <div  class="col-md-7 col-5">
                        <div  class="c-min-max">Min:100 Max:50000</div><!---->
                    </div>
                    <div  class="col-md-5 col-7">
                        <div  class="btn-group c_odds_title">
                            <button  class="back">back</button>
                            <button  class="lay">lay</button>
                        </div>
                    </div>
                </div><!---->
                <div  class="row">
                    <div  class="col-md-7 col-5 pl-2">
                        <span >Player A</span>
                        <div >0</div>
                    </div>
                    <div  class="col-md-5 col-7">
                        <div  class="btn-group c_odds_value">
                            <button  class="back"><!----><span >-</span>
                                <!----></button>
                                <button  class="lay casino-bl-box-item"><!----><span >-</span><!---->
                                </button><span  class="suspended"><i  class="fa fa-lock"></i></span><!---->
                            </div>
                        </div>
                    </div>
                </div>
                <div  class="casino_odds col-md-6">
                    <div  class="row">
                        <div  class="col-md-7 col-5">
                            <div  class="c-min-max">Min:100 Max:50000</div><!----></div>
                            <div  class="col-md-5 col-7">
                                <div  class="btn-group c_odds_title">
                                    <button  class="back">back</button>
                                    <button  class="lay">lay</button></div>
                                </div></div><!---->
                                <div  class="row">
                                    <div  class="col-md-7 col-5 pl-2"><span >Player B</span>
                                        <div >0</div></div>
                                        <div  class="col-md-5 col-7">
                                            <div  class="btn-group c_odds_value">
                                                <button  class="back"><!----><span >-</span><!---->
                                                </button>
 <button  class="lay casino-bl-box-item"><!----><span >-</span><!----></button>
 <span  class="suspended"><i  class="fa fa-lock"></i></span><!----></div>
</div></div></div><!----></div>
</div><!----></div>
<div  class="casino-lastResult">
    <h2 >Last Results </h2>
    <div  class="clr-sec" (click)="openModal(template)"><span  class="resultText playera">A</span>
        <span  class="resultText playerb">B</span>
        <span  class="resultText playerb">B</span><span  class="resultText playera">A</span>
        <span  class="resultText playera">A</span><span  class="resultText playera">A</span>
        <span  class="resultText playera">A</span><span  class="resultText playera">A</span>
        <span  class="resultText playera">A</span><!----></div></div><!---->
    </div>
</div>



<div  id="right-sidebar-id" class="right-sidebar casino-right-sidebar teen2sidebar">
    
        <div class="bets-section" style="position: relative;">
            <h2>Place Bet</h2><!----><!----></div>
           
                <div  class="bets-section"><h2 >My Bet</h2>
                    <div  class="p-1">
                        <table  class="table"><thead >
                            <tr ><td >Matched Bet </td>
  <td >Odds</td>
  <td>Stake</td></tr>
</thead><!----><tbody>
    <tr>
        <td  colspan="3" class="text-center"> No records Found</td>
    </tr>
</tbody><!----></table>
</div>
</div>
</div>






  
<ng-template #template>
    <div class="modal-content">
     <div class="modal-header">
        <h4 class="modal-title pull-left">Poker</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
           <span aria-hidden="true">×</span>
        </button>
     </div>
     <div class="modal-body">
        
        <div><div class="casino-result-round"><div>
            <b>Round-Id:</b> 22152801</div><div><b>Match Time:</b> 16/03/22 06:39:41</div></div>
            <div class="row row5"><div class="col-12"><div class="casino-result-content">
                <div class="casino-result-content-item text-center"><div class="casino-result-cards">
                    <div class="d-inline-block"><h4>Player A</h4><div class="casino-result-cards-item">
                        <img src="assets/images/card/D13.png"></div><div class="casino-result-cards-item">
                            <img src="assets/images/card/H1.png"></div><!----><div class="winner-icon"><i class="fas fa-trophy"></i></div><!----></div>
                    </div></div>
                        <div class="casino-result-content-item text-center"><div class="casino-result-cards">
                            <div class="d-inline-block"><h4>Player B</h4><div class="casino-result-cards-item">
                                <img src="assets/images/card/S8.png"></div><div class="casino-result-cards-item">
                                    <img src="assets/images/card/C8.png"></div><!----><!----></div>
                               
                        </div></div><!----></div></div></div>
                        <div class="result-card"><div> BOARD </div>
                        <span class="img-casino"><img class="img-fluid" src="assets/images/card/H10.png"></span>
                        <span class="img-casino"><img class="img-fluid" src="assets/images/card/D9.png"></span>
                        <span class="img-casino"><img class="img-fluid" src="assets/images/card/C13.png"></span>
                        <span class="img-casino"><img class="img-fluid" src="assets/images/card/C11.png"></span>
                        <span class="img-casino"><img class="img-fluid" src="assets/images/card/H13.png"></span><!----></div>
                    </div>
     </div>
    </div>
  </ng-template>

