@import "src/sport.scss";
    

    .ball{
        margin-left: 225px;
        margin-top: 12px;
    }

    @media (max-width: 767px){
        .ball{
            margin-left: 0px;
            margin-top: 12px;
        }
    }