<div  class="topbar">
    <div  class="container-fluid">
        <div  class="row">
            <div  class="col-md-4 col-4">
                <a  href="/sports/4" routerlink="/sports/4" class="homelogo">
                    <i  class="fa fa-home"></i>
                    <img  src="https://dzm0kbaskt4pv.cloudfront.net/v2/static/themes/diamondexch9.com/front/logo.png" class="img-fluid logo">
                </a>
            </div>
            <div  class="col-md-8 col-8">
                <ul  class="top-right">
                    <li  class="searchbar"><!---->
                        <input  id="SearchInput" typeaheadoptionfield="name" placeholder="All Events" autocomplete="off" class="form-control ng-untouched ng-pristine ng-valid" style="display: none;" aria-expanded="false" aria-autocomplete="list"><!---->
                        <a  href="javascript:void(0)">
                            <i  class="fa fa-search-plus"></i>
                        </a>
                    </li>
                    <li  class="rules-apk">
                        <a  routerLink="/rules">
                            <b >Rules</b>
                        </a>
                    </li>
                    <li  class="bespan">
                                <span >
                                    <sub >Balance:</sub>
                                    <i  class="fa fa-landmark"></i>
                                    <b >4</b></span>
                                    <span data-bs-toggle="modal" data-bs-target="#myModal">Exp<sub >osure</sub>: 
                                        <b >0</b></span></li>
                                        <li  class="dropdown topright_drop">
                                            <label class="dropdown">

                                                <div class="dd-button">
                                                    <span>diamond</span><i _ngcontent-uqv-c71="" class="fa fa-chevron-down"></i>
                                                </div>
                                              
                                                <input type="checkbox" class="dd-input" id="test">
                                              
                                                <ul class="dd-menu">
                                                  <li><a routerLink="/reports/account-statement" class="dropdown-item">account statement</a></li>
                                                  <li><a routerLink="/reports/profit-loss" class="dropdown-item">profit loss report</a></li>
                                                  <li><a routerLink="/reports/bet-history" class="dropdown-item">bet history</a></li>
                                                  <li ><a routerLink="/reports/unsettled-bet" class="dropdown-item">unsettled bet</a></li>
                                                  <li>
                                                    <a routerLink="set-button-value"  class="dropdown-item">set button values</a>
                                                  </li>
                                                  <li><a routerLink="change-password"  class="dropdown-item">change password</a></li>
                                                  <div  class="dropdown-divider"></div>
                                                  <li><a  href="javascript:void(0)" class="dropdown-item">SignOut</a></li>
                                                </ul>
                                                
                                              </label>
                                        </li>
                                    </ul>
                                    <marquee  id="marquee_text" scrollamount="3" class="searchClose m-marquee">Enjoy our latest live dealer games Teenpatti Test and Queen Race in Exchange Games section.
 </marquee>
</div>
<!-- <div  class="col-12 d-block d-sm-none">
    <div  class="searchM">
        <input  type="text" placeholder="Search Here ..." typeaheadoptionfield="name" class="ng-untouched ng-pristine ng-valid" aria-expanded="false" aria-autocomplete="list">
        <div  class="search">
            <i  class="fa fa-search"></i>
        </div>
    </div>
    <marquee  scrollamount="3" class="searchClose m-marquee">Welcome to Our Exchange.</marquee>
</div> -->
</div>
</div>
</div>

<!-- <app-header></app-header> -->
<!-- <app-navbar></app-navbar>
<app-sidenav></app-sidenav> -->

<div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <!-- <div class="modal-header">
          <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div> -->
  
        <!-- Modal body -->
        <div  class="modal-header border-0 pb-0"><h4  class="modal-title pull-left">My Market <i  class="fas fa-sync-alt ml-1"></i></h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div><div  class="modal-body">
                    <div  class="table-responsive run-amount-container">
                        <table  class="table"><thead ><tr ><th >Event Type</th><th >Event Name</th><th >Match Name</th><th >Trade</th></tr></thead><!----><tbody ><tr  colspan="4"> No data to Display</tr></tbody><!----></table>
                    </div></div>
  
        <!-- Modal footer -->
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div> -->
  
      </div>
    </div>
  </div>


  