@import "src/change.scss";
.casino_odds {
    background: rgba(0, 0, 0, 0.05);
    margin-bottom: 0px;
}
.c_odds_title, .c_odds_value {
   
    height: 36px;
}
.right-sidebar.casino-right-sidebar {
    width: 384px;
    background-color: #fff;
    padding: 0;
    transform: translate3d(156px, -588px, 0px);
    padding-left: 4px;
    margin-left: 956px;
}