@import "src/change.scss";

.right-sidebar.casino-right-sidebar[_ngcontent-pei-c106] {
    width: 384px;
    background-color: #fff;
    padding: 0;
    transform: translate3d(0px, -718px, 0px);
    padding-left: 4px;
    margin-left: 956px;
}