<div  class="header-bottom">
    <div  class="row mx-lg-0">
        <div  class="col-md-12">
            <nav  class="navbar navbar-expand-md btco-hover-menu">
                <button  type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span  class="navbar-toggler-icon">

                </span>
            </button>
            <div  class="collapse navbar-collapse">
                <ul  class="list-unstyled navbar-nav">
                    <li  class="nav-item active">
                        <a routerLink="/" class="router-link-exact-active router-link-active">
                            <b >Home</b>
                        </a>
                    </li>
                    <li  class="nav-item">
                       <a routerLink="/sports/cricket">
                            <b >Cricket</b>
                        </a>
                    </li>
                    <li  class="nav-item">
                        <a routerLink="/sports/football" routerlinkactive="router-link-exact-active router-link-active">
                            <b  >Football</b>
                        </a>
                    </li>
                    <li  class="nav-item">
                        <a  href ="sports/tennis" routerLink="sports/tennis" routerlinkactive="router-link-exact-active router-link-active">
                            <b >Tennis</b>
                        </a>
                    </li>
                    <li  class="nav-item">
                        <a href="sports/election" routerLink="sports/election" routerlinkactive="router-link-exact-active router-link-active">
                            <b >Election</b>
                        </a>
                    </li>
                    <!-- <li  class="nav-item">
                        <a  href="/exchange-game/1444001/56767" routerlinkactive="router-link-exact-active router-link-active">
                            <b >Teenpatti</b>
                        </a>
                    </li> -->
                    <li  class="nav-item">
                        <a href="exchanges/teenpatti" routerLink="exchanges/teenpatti" routerlinkactive="router-link-exact-active router-link-active">
                            <b >Teenpatti</b>
                        </a>
                    </li>
                    <li  class="nav-item">
                        <a href="exchanges/roulette" routerLink="exchanges/roulette" routerlinkactive="router-link-exact-active router-link-active">
                            <b >Roulette</b>
                        </a>
                    </li>
                    <li  class="nav-item">
                        <a  href="exchanges/updown" routerLink="exchanges/updown" routerlinkactive="router-link-exact-active router-link-active">
                            <b >7 Up &amp; Down</b>
                        </a>
                    </li>
                    <li  class="nav-item">
                        <a  href="exchanges/card" routerLink="exchanges/card" routerlinkactive="router-link-exact-active router-link-active">
                            <b >32 Card Casino</b>
                        </a>
                    </li>
                    <li  class="nav-item">
                        <a href="exchanges/sicbo" routerLink="exchanges/sicbo" routerlinkactive="router-link-exact-active router-link-active">
                            <b >Sicbo</b>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="exchanges/poker" routerLink="exchanges/poker" routerlinkactive="router-link-exact-active router-link-active">
                            <b>Poker</b>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a  href="exchanges/anderbahar" routerLink="exchanges/anderbahar" routerlinkactive="router-link-exact-active router-link-active">
                            <b>Andar Bahar</b>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="exchanges/oneday" routerLink="exchanges/oneday" routerlinkactive="router-link-exact-active router-link-active">
                            <b>One-Day Dragon Tiger</b>
                        </a>
                    </li>
                </ul>
    </div>
</nav>

<h2  class="mobie-title d-sm-none d-block">ELECTION 2022</h2>
</div>
</div>
</div>

<!-- <app-sidenav></app-sidenav> -->
