@import "src/change.scss";


.roulette-table__body {
    width: 100%;
    max-width: 1180px;
    padding-top: 21px;
    display: flex;
    margin: 0 auto;
}


.roulette-table__body-cell.zero-cell {
    background: #32cda8;
    -webkit-clip-path: polygon(40% 0,100% 0,100% 100%,40% 100%,1% 50%);
    clip-path: polygon(40% 0,100% 0,100% 100%,40% 100%,1% 50%);
    height: 184px;
    width: 93px;
    
}
@media (max-width: 1600px){

div.roulette-table__body-cell {
    font-size: 24px;
    
}
}

.roulette-table__body-cell {
    color: #fff;
    border: 1px solid #fff;
    font-size: 44px;
    padding: 2px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    text-align: center;
    font-weight: 400;
    font-family: Source Sans Pro,sans-serif;
}

// .roulette-table__body-cell {
//     font-weight: 400;
//     font-family: Source Sans Pro,sans-serif;
// }
// .roulette-table__body-cell.zero-cell span {
//     padding-left: 5px;
// }
// .suspended {
//     position: absolute;
//     display: flex !important;
//     justify-content: center;
//     align-items: center;
//     height: 100%;
//     width: 100%;
//     right: 0;
//     background-color: rgba(0, 0, 0, 0.4);
//     color: #fff;
//     text-transform: uppercase;
//     font-weight: 900;
//     font-size: 18px !important;
//     top: 0;
// }
// .casino_odds {
//     padding: 10px;
//     margin-bottom: 7px;
// }
.roulette-table__body-tr.column-nums {
    width: 100%;
    max-width: 334px;
}
.roulette-table__body-td-inner-wrapper.num-cell-inner-wrapper {
    display: flex;
}
.roulette-table__body-cell.red-num {
    background: #dc3a24;
}

.roulette-table__body-cell.num-cell {
    width: 25%;
}
// @media (max-width: 1600px){

// div.roulette-table__body-td-inner-wrapper:first-child span {
//     font-size: 33px;
// }
// }
// .roulette-table__body-cell.block {
//     pointer-events: none;
// }

.roulette-table__body-cell.black-num {
    background: #000;
}
.roulette-table__body-tr.column-2to1 {
    flex-shrink: 0;
}
.roulette-table__body-cell.multiple-cell {
    background: #0009;
}

.roulette-table__body .inner-wrapper-1-18-even, .roulette-table__body .inner-wrapper-odd-19-36, .roulette-table__body .inner-wrapper-red-black {
    display: flex;
    flex-wrap: wrap;
}


.roulette-table__body .inner-wrapper-1-18-even .multiple-cell, .roulette-table__body .inner-wrapper-odd-19-36 .multiple-cell, .roulette-table__body .inner-wrapper-red-black .multiple-cell {
    width: 50%;
}
// @media (max-width: 1600px){

// div.roulette-table__body .roulette-table__body-color-rectangle {
//     height: 25px;
// }
// }

// .casino-lastResult {
//     margin: 15px 0;
// }
// .casino-lastResult h2 {
//     padding: 10px;
//     background-color: #2c3e50d9;
//     color: #fff;
//     font-size: 14px;
// }
// .clr-sec {
//     text-align: right;
//     margin-right: 5px;
// }
// .Red{
//     background-color: #dc3a24;
// }
.right-sidebar.casino-right-sidebar {
    width: 384px;
    background-color: #fff;
    padding: 0;
    
    transform: translate3d(0px, -663px, 0px);

    padding-left: 4px;
    margin-left: 956px;
}
.casino-result-c {
    display: flex;
    align-items: center;
    justify-content: center;
}
.Red {
    background-color: #dc3a24;
}