@import "src/sport.scss";
    .tenn{
    margin-left: 225px;
    margin-top: 12px;
    }

    @media (max-width: 767px){
        .tenn{
            margin-left: 0px;
            margin-top: 12px;
        }
    }