<div class="betting-table lay-bt" style="position: relative;">
    <h2 class="mrkname"> place bet </h2>
    <div class="back">
        <div class="row align-items-center">
            <div class="col col-md-4"> (Bet for) </div>
            <div class="col"> Odds </div>
            <div class="col"> Stake </div>
            <div class="col"> Profit </div>
        </div><!---->
        <div class="row border-bottom align-items-center">
            <div class="col col-md-4 text-left">
<a><i class="fa fa-close text-danger"></i>
</a> The Black Smiths </div><!---->
<div class="col"><span>12</span>
</div><!---->
<div class="col">
<input type="number" placeholder="Amount" class="form-control ng-untouched ng-pristine ng-valid">
</div>
<div class="col"> 1100.00 </div>
</div><!----><!----><!---->
<div class="stakes" style="width: 100%;">
    <div class="btn-group">
<button type="button">100</button>
<button type="button">500</button>
<button type="button">2500</button>
<button type="button">5000</button>
<button type="button">10000</button>
<button type="button">25000</button><!---->
</div></div><!---->
<div class="row align-items-center">
    <div class="col">
        <button class="btn cancel-btn">reset</button>
    </div>
<div class="col">
    <button class="btn betplace-btn">submit</button>
</div><!----></div><!----></div><!----><!----></div>
