@import "src/change.scss";
.right-sidebar.casino-right-sidebar {
    width: 384px;
    background-color: #fff;
    padding: 0;
    transform: translate3d(0px, -942px, 0px);
    padding-left: 4px;
    margin-left: 956px;
}
.c_odds_title .back, .c_odds_value .back {
    border-right: 1px solid #fff;
    font-size: 13px;
}
.row > * {
    flex-shrink: 0;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * -0.5);
    margin-top: var(--bs-gutter-y);
}
@media (min-width: 768px){
.col-md-9 {
    flex: 0 0 auto;
   height: 40px;
}
}
.c_odds_title, .c_odds_value {
    height: 40px;;
}
.main_pair .back {
    margin-left: 21px;
    color: #fff !important;
    background-image: linear-gradient(to right, var(--primary), var(--secondary)) !important;
    width: 85% !important;
    border-radius: 4px !important;
    box-shadow: 0 2px 2px 0 #00000024, 0 3px 1px -2px #0000001f, 0 1px 5px 0 #0003 !important;
    border: 0 !important;
    padding: 4px 3px !important;
    cursor: pointer !important;
    font-size: 16px !important;
    position: relative;
}
.main_pair span {
    display: block;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
}
.casino-section{
    margin-left: 12px;
}