@import "src/change.scss";
.right-sidebar.casino-right-sidebar {
    width: 384px;
    background-color: #fff;
    padding: 0;
    transform: translate3d(0px, -896px, 0px);
    padding-left: 4px;
    margin-left: 956px;
}

.c_odds_title, .c_odds_value {
    width: 100%;
    height: 33px;
}


.casino-lastResult {
    margin: 11px -25px;
    width: 747px;
}