<div class="bets-section" style="position: relative;">
    <h2>Place Bet</h2>
    <div class="back">
        <div class="row align-items-center mx-0">
            <div class="col"> (Bet for) </div>
            <div class="col"> Odds </div>
            <div class="col"> Stake </div>
        </div><!---->
        <div class="row align-items-center mx-0 border-top border-bottom border-light py-1">
            <div class="col text-left"><i class="fa fa-close text-danger"></i> Player A </div>
            <div class="col">
  <input type="text" readonly="true" class="form-control ng-untouched ng-pristine ng-valid">
  <a href="javascript:void(0)" class="arrow-up"><i class="fa fa-angle-up"></i></a>
  <a href="javascript:void(0)" class="arrow-down"><i class="fa fa-angle-down"></i></a>
</div><!---->
<div class="col">
    <input type="number" placeholder="Amount" class="form-control ng-untouched ng-pristine ng-valid">
</div>
</div>
<div class="stakes">
    <div class="btn-group">
        <button type="button">1000</button>
        <button type="button">2000</button>
        <button type="button">3000</button>
        <button type="button">4000</button>
        <button type="button">5000</button>
        <button type="button">6000</button>
    </div>
</div>
<div class="row">
    <div class="col">
        <button class="btn cancel-btn">reset</button>
    </div>
    <div class="col">
        <button class="btn betplace-btn" disabled="">submit</button>
    </div>
</div>
</div>
</div>
