 <!-- <nav id="sidebar">
  

    <ul class="list-unstyled">
        <li style="    background-color: #0088cc;">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="true" class="active collapsed">
                <span style="color: #fff;">Others</span><b  class="iconsmenu"><i  class="fa fa-chevron-down"></i></b></a>

      
            <ul class="collapse list-unstyled" id="homeSubmenu">
            <li><a href="javascript:void(0);">One-Day Teenpatti</a></li>
            <li><a href="javascript:void(0);">Poker</a></li>
            <li><a href="javascript:void(0);">Roulette</a></li>
            <li><a href="javascript:void(0);">One-Day Dragon Tiger</a></li>
            <li><a href="javascript:void(0);">Amar Akbar Anthony</a></li>
            <li><a href="javascript:void(0);">Andar Bahar</a></li>
            <li><a href="javascript:void(0);">7 Up &amp; Down</a></li>
            <li><a href="javascript:void(0);">Teenpatti T20</a></li>
            <li><a href="javascript:void(0);">32 Card Casino</a></li>
            <li><a href="javascript:void(0);">Teenpatti One-Day (Virtual)</a></li>
            <li><a href="javascript:void(0);">Teenpatti T20 (Virtual)</a></li>
            <li><a href="javascript:void(0);">7 up &amp; down (Virtual)</a></li>
            <li><a href="javascript:void(0);">32 Cards (Virtual)</a></li>
            <li><a href="javascript:void(0);">Hi Low (Virtual)</a></li>
            <li><a href="javascript:void(0);">Poker (Virtual)</a></li>
            <li><a href="javascript:void(0);">Andar Bahar (Virtual)</a></li>
            <li><a href="javascript:void(0);">Roulette (Virtual)</a></li>
            <li><a href="javascript:void(0);">Dragon Tiger (Virtual)</a></li>
            <li><a href="javascript:void(0);">Mulfis Teenpatti</a></li>
            <li><a href="javascript:void(0);">Casino Meter</a></li>
            <li><a href="javascript:void(0);">Sicbo</a></li>
            <li><a href="javascript:void(0);">Amar Akbar Anthony</a></li>
            <li><a href="javascript:void(0);">Amar Akbar Anthony (Virtual)</a></li>
            <li><a href="javascript:void(0);">Six Player Poker (Virtual)</a></li>
            </ul>
        </li>
       
        <li style="    background-color: #0088cc;">
           



        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="true" class="active collapsed">
            <span style="color: #fff;">All Sports</span><b  class="iconsmenu"><i  class="fa fa-chevron-down"></i></b></a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
                <li>
                    <div >
                    <a  href="#SubMenu0" data-toggle="collapse" role="button" aria-expanded="false" class="collapsed">Election <b  class="iconsmenu">
                        <i  class="fa fa-chevron-down"></i></b></a>
                        <div  class="collapse" id="SubMenu0" >
                            <ul  class="nav-menu">
                                <li >
                                    <a  data-toggle="collapse" role="button" aria-expanded="false" href="#SubMenu00" class="collapsed">Election <b  class="iconsmenu">
                                        <i  class="fa fa-chevron-down"></i>
                                    </b>
                                </a>
                                <div  class="collapse" id="SubMenu00" >
                                    <ul  class="nav-menu" >
                                    <li >
                                        <a  href="/sport-event/detail/2378962/211229081010" routerlinkactive="active-menu"> UP ELECTION 2022 </a>
                                    </li></ul>
                                    <ul  class="nav-menu" ><li >
                                        <a  href="/sport-event/detail/2378962/211229080941" routerlinkactive="active-menu"> PUNJAB ELECTION 2022 </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            </li>
                <li>
                    <div >
                        <a  href="#SubMenu1" data-toggle="collapse" role="button" aria-expanded="true">Cricket <b  class="iconsmenu">
                            <i  class="fa fa-chevron-down"></i>
                        </b>
                    </a>
                    <div  class="collapse" id="SubMenu1">
                        <ul class="nav-menu">
                            <li >
                                <a  data-toggle="collapse" role="button" aria-expanded="true" href="#SubMenu10">Sheffield Shield <b  class="iconsmenu">
                                    <i  class="fa fa-chevron-down"></i>
                                </b></a>
                                <div  class="collapse" id="SubMenu10">
                                    <ul class="nav-menu">
                                    <li ><a  href="/sport-event/detail/4/28815516" routerlinkactive="active-menu"> Victoria vs. Queensland Bulls </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li >
                            <a  data-toggle="collapse" role="button" aria-expanded="true" href="#SubMenu11">International Twenty20 Matches <b  class="iconsmenu">
                                <i  class="fa fa-chevron-down"></i>
                            </b>
                        </a>
                        <div  class="collapse" id="SubMenu11">
                            <ul class="nav-menu" >
                            <li >
                                <a  href="/sport-event/detail/4/31248255" routerlinkactive="active-menu"> India v West Indies </a>
                            </li></ul>
                            <ul class="nav-menu">
                                <li >
                                    <a  href="/sport-event/detail/4/32219905" routerlinkactive="active-menu"> Brisbane Heat Srl vs. Perth Scorchers Srl </a>
                                </li>
                            </ul>
</div></li>


                                </ul>
                            </div>
                        </div>
                    </li>
                <li>
                    <div >
                        <a  href="#SubMenu2" data-toggle="collapse" role="button" aria-expanded="true">Football <b  class="iconsmenu"><i  class="fa fa-chevron-down"></i></b></a><div  class="collapse" id="SubMenu2">
                            <ul class="nav-menu" >
                                <li>
                                    <a  data-toggle="collapse" role="button" aria-expanded="true" href="#SubMenu20">French National <b  class="iconsmenu">
                                        <i  class="fa fa-chevron-down"></i>
                                    </b>
                                </a>
                                <div  class="collapse" id="SubMenu20">
                                    <ul class="nav-menu">
                                        <li >
                                            <a  href="/sport-event/detail/1/31225783" routerlinkactive="active-menu"> Laval v Avranches </a>
                                        </li>
                                    </ul>
                                        <ul class="nav-menu">
                                            <li >
                                                <a  href="/sport-event/detail/1/31225780" routerlinkactive="active-menu"> Boulogne v FC Bastia-Borgo </a>
                                            </li>
                                        </ul>
                                      </div>
                                      </li>
                                      </ul>
                                      </div>
                                      </div>
                                      </li>
                                     
                <li>
                    <div >
                        <a  href="#SubMenu3" data-toggle="collapse" role="button" aria-expanded="true">Tennis <b  class="iconsmenu">
                            <i  class="fa fa-chevron-down"></i>
                        </b>
                    </a>
                    <div  class="collapse" id="SubMenu3">
                        <ul class="nav-menu" >
                        <li >
                    <a  data-toggle="collapse" role="button" aria-expanded="true" href="#SubMenu30">ATP Challenger Bengaluru 2, India Men Doubles <b  class="iconsmenu">
                        <i  class="fa fa-chevron-down"></i>
                    </b>
                </a>
                <div  class="collapse" id="SubMenu30">
                    <ul class="nav-menu">
                        <li ><a  href="/sport-event/detail/2/31995469" routerlinkactive="active-menu"> Myneni S / Ramanathan R vs. Couacaud E / Harris A </a></li>
                    </ul>
                    </div>
                </li>
               </ul>
               </div>
               </div>
               </li>

                <li>
                 <div >
                     <a  href="#SubMenu6" data-toggle="collapse" role="button" aria-expanded="true">Exchange Game <b  class="iconsmenu">
                         <i  class="fa fa-chevron-down"></i>
                        </b>
                    </a>
                    <div  class="collapse" id="SubMenu6">
                        <ul class="nav-menu">
                            <li >
                                <a  data-toggle="collapse" role="button" aria-expanded="true" href="#SubMenu60">Live Games <b  class="iconsmenu">
                                    <i  class="fa fa-chevron-down"></i></b>
                                </a>
                                <div  class="collapse" id="SubMenu60">
                                    <ul class="nav-menu">
                                        <li ><a  href="/exchange-game/1444001/56767" routerlinkactive="active-menu"> One-Day Teenpatti </a></li>
                                    </ul>
                                    <ul class="nav-menu"><li ><a  href="/exchange-game/1444001/67564" routerlinkactive="active-menu"> Poker </a></li></ul>
                                    <ul class="nav-menu"><li ><a  href="/exchange-game/1444001/98788" routerlinkactive="active-menu"> Roulette </a></li></ul>
                                    <ul class="nav-menu"><li ><a  href="/exchange-game/1444001/98790" routerlinkactive="active-menu"> One-Day Dragon Tiger </a></li></ul>
                                    <ul class="nav-menu"><li ><a  href="/exchange-game/1444001/98791" routerlinkactive="active-menu"> Amar Akbar Anthony </a></li></ul>
                                    <ul class="nav-menu"><li ><a  href="/exchange-game/1444001/87564" routerlinkactive="active-menu"> Andar Bahar </a></li></ul>
                                    <ul class="nav-menu"><li ><a  href="/exchange-game/1444001/98789" routerlinkactive="active-menu"> 7 Up &amp; Down </a></li></ul>
                                    <ul class="nav-menu" ><li ><a  href="/exchange-game/1444001/56768" routerlinkactive="active-menu"> Teenpatti T20 </a></li></ul>
                                    <ul class="nav-menu"><li ><a  href="/exchange-game/1444001/56967" routerlinkactive="active-menu"> 32 Card Casino </a></li></ul>
                                    <ul class="nav-menu"></ul><ul class="nav-menu"><li ><a  href="/exchange-game/1444001/56766" routerlinkactive="active-menu"> Teenpatti One-Day (Virtual) </a></li></ul>
                                    <ul class="nav-menu"><li ><a  href="/exchange-game/1444001/56769" routerlinkactive="active-menu"> Teenpatti T20 (Virtual) </a></li></ul>
                                    <ul class="nav-menu"><li ><a  href="/exchange-game/1444001/98793" routerlinkactive="active-menu"> 7 up &amp; down (Virtual) </a></li></ul>
                                    <ul class="nav-menu"><li ><a  href="/exchange-game/1444001/56966" routerlinkactive="active-menu"> 32 Cards (Virtual) </a></li></ul>
                             </div></li></ul></div></div>   
                </li>
            </ul>
        </li>
       
    </ul>
</nav>  -->


    <nav class="nav" role="navigation">
      <ul class="nav__list">
        <li>
          <input id="group-1" type="checkbox" hidden />
          <label for="group-1"><span class="fa fa-angle-right"></span> Others</label>
          <ul class="group-list">
            <li><a href="exchanges/teenpatti">One-Day Teenpatti</a></li>
            <li><a href="exchanges/poker">Poker</a></li>
            <li><a href="exchanges/roulette">Roulette</a></li>
            <li><a href="exchanges/oneday">One-Day Dragon Tiger</a></li>
            <li><a href="exchanges/amar-akbar">Amar Akbar Anthony</a></li>
            <li><a href="exchanges/anderbahar">Andar Bahar</a></li>
            <li><a href="exchanges/updown">7 Up &amp; Down</a></li>
            <li><a href="exchanges/t20">Teenpatti T20</a></li>
            <li><a href="exchanges/card">32 Card Casino</a></li>
            <li><a href="javascript:void(0);">Teenpatti One-Day (Virtual)</a></li>
            <li><a href="javascript:void(0);">Teenpatti T20 (Virtual)</a></li>
            <li><a href="javascript:void(0);">7 up &amp; down (Virtual)</a></li>
            <li><a href="javascript:void(0);">32 Cards (Virtual)</a></li>
            <li><a href="javascript:void(0);">Hi Low (Virtual)</a></li>
            <li><a href="javascript:void(0);">Poker (Virtual)</a></li>
            <li><a href="javascript:void(0);">Andar Bahar (Virtual)</a></li>
            <li><a href="javascript:void(0);">Roulette (Virtual)</a></li>
            <li><a href="javascript:void(0);">Dragon Tiger (Virtual)</a></li>
            <li><a href="javascript:void(0);">Mulfis Teenpatti</a></li>
            <li><a href="javascript:void(0);">Casino Meter</a></li>
            <li><a href="javascript:void(0);">Sicbo</a></li>
            <li><a href="javascript:void(0);">Amar Akbar Anthony</a></li>
            <li><a href="javascript:void(0);">Amar Akbar Anthony (Virtual)</a></li>
            <li><a href="javascript:void(0);">Six Player Poker (Virtual)</a></li>
           
          </ul>
        </li>
        <li>
          <input id="group-2" type="checkbox" hidden />
          <label for="group-2"><span class="fa fa-angle-right"></span>Sports</label>
          <ul class="group-list">
           
             
              <input id="sub-group-2" type="checkbox" hidden />
              <label for="sub-group-2"><span class="fa fa-angle-right"></span> Cricket </label>
              <ul class="sub-group-list">
                
                <li>
                  <input id="sub-sub-group-2" type="checkbox" hidden />
                  <label for="sub-sub-group-2"><span class="fa fa-angle-right"></span> Test Matches </label>
                  <ul class="sub-sub-group-list">
                    <li><a href="sport-event/fullmarket" routerlinkactive="active-menu"> New Zealand v South Africa </a></li>
                    <li><a href="sport-event/fullmarket" routerlinkactive="active-menu"> South Africa v Bangladesh </a></li>
                  </ul>
                </li>
                <li>
                    <input id="sub-sub-group-3" type="checkbox" hidden />
                    <label for="sub-sub-group-3"><span class="fa fa-angle-right"></span> Indian Premier League  </label>
                    <ul class="sub-sub-group-list">
                        <li><a href="/sport-event/detail/4/28127348" routerlinkactive="active-menu"> Indian Premier League </a></li>
                        <li><a href="/sport-event/detail/4/31284989" routerlinkactive="active-menu"> Royal Challengers Bangalore v Mumbai Indians </a></li>
                    </ul>
                  </li>
              </ul>

              <input id="sub-group-3" type="checkbox" hidden />
              <label for="sub-group-3"><span class="fa fa-angle-right"></span> Football </label>
              <ul class="sub-group-list">
               
                <li>
                  <input id="sub-sub-group-4" type="checkbox" hidden />
                  <label for="sub-sub-group-4"><span class="fa fa-angle-right"></span> Serie A </label>
                  <ul class="sub-sub-group-list">
                    <li><a href="/sport-event/detail/1/28160454" routerlinkactive="active-menu"> Empoli FC vs. Spezia Calcio </a></li>
                    <li><a href="/sport-event/detail/1/31352894" routerlinkactive="active-menu"> Vejle v Viborg </a></li>
                  </ul>
                </li>

                <li>
                    <input id="sub-sub-group-5" type="checkbox" hidden />
                    <label for="sub-sub-group-5"><span class="fa fa-angle-right"></span> Premier League  </label>
                    <ul class="sub-sub-group-list">
                        <li><a href="/sport-event/detail/1/27751672" routerlinkactive="active-menu"> Arsenal FC vs. Brighton &amp; Hove Albion </a></li>
                    </ul>
                  </li>
              </ul>


              <input id="sub-group-6" type="checkbox" hidden />
              <label for="sub-group-6"><span class="fa fa-angle-right"></span>Exchange Game </label>
              <ul class="sub-group-list">
                
                <li>
                  <input id="sub-sub-group-7" type="checkbox" hidden />
                  <label for="sub-sub-group-7"><span class="fa fa-angle-right"></span> Live Games </label>
                  <ul class="sub-sub-group-list">
                    <li><a href="/exchange-game/1444001/90100" routerlinkactive="active-menu"> Race 20-20 </a></li>
                    <li><a href="/exchange-game/1444001/67570" routerlinkactive="active-menu"> Bollywood Casino </a></li>
                  </ul>
                </li>
              </ul>
              

             
          
          </ul>
        </li>
        
       
      </ul>
    </nav>
   
